@page "/lektion1/üben"

<Blazorise.Heading Size="HeadingSize.Is1" Margin="Margin.Is3.FromTop">Lektion 1 - Aggregatfunktionen üben</Blazorise.Heading>

<div class="lesson">
    <Blazorise.Heading Size="HeadingSize.Is3" Margin="Margin.Is2.FromTop">Aufgabe 1)</Blazorise.Heading>
    <Blazorise.Text>Wie viele Kunden sind in der Datenbank vorhanden?</Blazorise.Text>

    <SQLTutorial.Components.SQLLesson SQLSolution="@SQLSolution1" Hint="@Hinweis1" SavedAnswerGuid="@Guid.Parse("92021063-558B-46A2-84DA-D13A5E7A5787")" />
</div>

<div class="lesson">
    <Blazorise.Heading Size="HeadingSize.Is3" Margin="Margin.Is2.FromTop">Aufgabe 2)</Blazorise.Heading>
    <Blazorise.Text>Wie viel Euro haben alle Busfahrten insgesamt bisher gekostet?</Blazorise.Text>

    <SQLTutorial.Components.SQLLesson SQLSolution="@SQLSolution2" Hint="@Hinweis2" SavedAnswerGuid="@Guid.Parse("0FF00E19-6ECC-4A99-9FCF-1EF9C3FFC28E")" />
</div>

<div class="lesson">
    <Blazorise.Heading Size="HeadingSize.Is3" Margin="Margin.Is2.FromTop">Aufgabe 3)</Blazorise.Heading>
    <Blazorise.Text>Wieviele Sitzplätze hat der Kunde mit KundenNr 6 schon insgesamt gebucht?</Blazorise.Text>

    <SQLTutorial.Components.SQLLesson SQLSolution="@SQLSolution3" Hint="@Hinweis3" SavedAnswerGuid="@Guid.Parse("D3AE6C3D-A0C2-4EF6-B787-07BA2C6D377C")" />
</div>

<div class="lesson">
    <Blazorise.Heading Size="HeadingSize.Is3" Margin="Margin.Is2.FromTop">Aufgabe 4)</Blazorise.Heading>
    <Blazorise.Text>Was kostet eine Fahrt für eine Person im Durchschnitt?</Blazorise.Text>

    <SQLTutorial.Components.SQLLesson SQLSolution="@SQLSolution4" Hint="@Hinweis4" SavedAnswerGuid="@Guid.Parse("F94C5B42-90D4-45B5-A157-AA5AE4CB2465")" />
</div>

<div class="lesson">
    <Blazorise.Heading Size="HeadingSize.Is3" Margin="Margin.Is2.FromTop">Aufgabe 5)</Blazorise.Heading>
    <Blazorise.Text>Wieviele Sitze hat der größte Bus und kleinste Bus?</Blazorise.Text>

    <SQLTutorial.Components.SQLLesson SQLSolution="@SQLSolution5" Hint="@Hinweis5" SavedAnswerGuid="@Guid.Parse("A260A86D-FDB8-4B5C-913C-9AD119D4F4BA")" />
</div>

<div class="lesson">
    <Blazorise.Heading Size="HeadingSize.Is3" Margin="Margin.Is2.FromTop">Aufgabe 6)</Blazorise.Heading>
    <Blazorise.Text>Gebe alle Bustypen ohne doppelte Einträge aus</Blazorise.Text>

    <SQLTutorial.Components.SQLLesson SQLSolution="@SQLSolution6" Hint="@Hinweis6" SavedAnswerGuid="@Guid.Parse("4AB16073-42ED-48D2-A83A-D6A899F77B42")" />
</div>


@code {
    private const string SQLSolution1 = "SELECT COUNT(KundenNr)\n FROM Kunde";
    private const string Hinweis1 = "Mithilfe der COUNT-Funktion können wir alle KundenNr zählen";

    private const string SQLSolution2 = "SELECT SUM(Preis)\n FROM Fahrt";
    private const string Hinweis2 = "Mithilfe der SUM-Funktion können Zahlen wie z.B. Preise gezählt werden";

    private const string SQLSolution3 = "SELECT SUM(GebuchtePlätze)\nFROM Bucht\nWHERE KundenNr = 6";
    private const string Hinweis3 = "Kombiniere die SUM-Funktion mit der WHERE-Klausel";

    private const string SQLSolution4 = "SELECT AVG(Preis)\nFROM Fahrt";
    private const string Hinweis4 = "Mithilfe der AVG-Funktion können wir den Durchschnitt einer Zahl ausgeben";

    private const string SQLSolution5 = "SELECT MIN(Sitzplätze), MAX(Sitzplätze)\nFROM Bus";
    private const string Hinweis5 = "Mithilfe der MIN- und MAX-Funktion können wir das Maximale oder Minmale einer Zahl ausgeben";

    private const string SQLSolution6 = "SELECT DISTINCT Bustyp\nFROM Bus";
    private const string Hinweis6 = "DISTINCT ermöglicht es doppelte Einträge zu ignorieren";

}