@page "/lektion4/üben"

<Blazorise.Heading Size="HeadingSize.Is1" Margin="Margin.Is3.FromTop">Lektion 4 - Gruppierung von Daten</Blazorise.Heading>

<div class="lesson">
    <Blazorise.Heading Size="HeadingSize.Is3" Margin="Margin.Is2.FromTop">Aufgabe 1)</Blazorise.Heading>
    <Blazorise.Text>Gebe die durschnittliche Fahrzeit für jeden Busfahrer aus</Blazorise.Text>

    <SQLTutorial.Components.SQLLesson SQLSolution="@SQLSolution1" Hint="@Hinweis1" SavedAnswerGuid="@Guid.Parse("0630B7FA-4F02-40B4-9B49-046E21ACDB2E")" />
</div>

<div class="lesson">
    <Blazorise.Heading Size="HeadingSize.Is3" Margin="Margin.Is2.FromTop">Aufgabe 2)</Blazorise.Heading>
    <Blazorise.Text>Gebe die Anzahl individueller Reiseziele und das Kennzeichen von jedem Bus aus</Blazorise.Text>

    <SQLTutorial.Components.SQLLesson SQLSolution="@SQLSolution2" Hint="@Hinweis2" SavedAnswerGuid="@Guid.Parse("9AB4FBA7-BE51-4849-8E71-FCCA1AE85A41")" />
</div>

<div class="lesson">
    <Blazorise.Heading Size="HeadingSize.Is3" Margin="Margin.Is2.FromTop">Aufgabe 3)</Blazorise.Heading>
    <Blazorise.Text>Gebe die insgesamt Gebuchten Plätze, Fahrtnummern und das Datum der Fahrten aus welche insgesamt fünf oder mehr gebuchte Plätze hatten</Blazorise.Text>

    <SQLTutorial.Components.SQLLesson SQLSolution="@SQLSolution3" Hint="@Hinweis3" SavedAnswerGuid="@Guid.Parse("B285AACD-18B4-4105-9F46-E23F94AAFF5A")"/>
</div>

<div class="lesson">
    <Blazorise.Heading Size="HeadingSize.Is3" Margin="Margin.Is2.FromTop">Aufgabe 4)</Blazorise.Heading>
    <Blazorise.Text>Gebe den Vor- und Nachnamen aus welcher die meisten Sitzplätze insgesamt gebucht hat</Blazorise.Text>

    <SQLTutorial.Components.SQLLesson SQLSolution="@SQLSolution4" Hint="@Hinweis4" SavedAnswerGuid="@Guid.Parse("FB085A8E-1F0F-4958-A7B0-750A9D2CD386")"/>
</div>


@code {
    private const string SQLSolution1 = "SELECT FA.Name, FA.Vorname, AVG(F.Dauer)\nFROM Fahrt F, Fahrer FA\nWHERE FA.Personalnummer = F.PersonalNr\nGROUP BY PersonalNr";
    private const string Hinweis1 = "";

    private const string SQLSolution2 = "SELECT B.Kennzeichen, COUNT(DISTINCT Reiseziel) AS Individuelle_Reiseziele\nFROM Fahrt F, Bus B\nWHERE F.Kennzeichen = B.Kennzeichen\nGROUP BY B.Kennzeichen";
    private const string Hinweis2 = "";

    private const string SQLSolution3 = "SELECT SUM(B.GebuchtePlätze) AS Gebuchte_Plätze, F.FahrtNr, F.Datum\nFROM Fahrt F, Bucht B\nWHERE F.FahrtNr = B.FahrtNr\nGROUP BY FahrtNr\nHAVING SUM(B.GebuchtePlätze) >= 5";
    private const string Hinweis3 = "";

    private const string SQLSolution4 = "SELECT K.Name, K.Nachname, SUM(B.GebuchtePlätze)\nFROM Bucht B, Kunde K\nWHERE B.KundenNr = K.KundenNr\nGROUP BY B.KundenNr\nORDER BY SUM(B.GebuchtePlätze) DESC\nLIMIT 1";
    private const string Hinweis4 = "";

}
